SECRET_KEY=?????
ALLOWED_HOSTS=*
DEBUG=True

DATABASE_NAME=DB_NAME
DATABASE_USER=DB_USER
DATABASE_PASSWORD=DB_PASSWORD
DATABASE_HOST=DB_HOST
DATABASE_PORT=DB_PORT

SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET

RESEND_API_KEY=RESEND_API_KEY
ADMIN_EMAIL=ADMIN_EMAIL
