.tag {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
  text-transform: capitalize;
  border-radius:0.7rem;
  -webkit-border-radius:0.7rem;
  -moz-border-radius:0.7rem;
  -ms-border-radius:0.7rem;
  -o-border-radius:0.7rem;
}
